/* card */

.card {
  margin-top: 20px;
  background: white;
  overflow: hidden;
  position: relative;
}

.card .time-up {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
  font-size: 14px;
  color: red;
  background-color: #ffedef;
  padding: 5px 12px;
  border-radius: 4px;
}
.card .time-up.hot {
  background-color: red;
  color: white;
  border: 1px solid white;
}
.card-info {
  padding: 12px;
  border: 1px dashed var(--green);
  border-top: none;
  border-radius: 0 0 10px 10px;
}

.card-info.active-card {
  border: 1px solid var(--green);
  border-top: none;
}

.card-image {
  border: 1px solid var(--green);
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.card-image img {
  width: 100%;
  transform: scale(1.1);
}

.card-info .shop {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: var(--gray);
}
.card-info .shop:hover {
  color: red;
  cursor: pointer;
}

.card-info .card-header {
  font-size: 18px;
  color: var(--black);
  max-height: 46px;
  overflow: hidden;
}

.card-info .card-header:hover {
  color: var(--green);
  cursor: pointer;
}

.card-info .discount {
  display: flex;
  align-items: center;
  margin-top: 12px;
  font-size: 14px;
}
.card-info .discount p {
  width: 100%;
  color: var(--gray);
}
.card-info .discount p:hover {
  color: red;
  cursor: pointer;
}
.card-info .discount div {
  border-radius: 4px;
  border: 1px solid var(--gray);
  color: var(--gray);

  padding: 4px 8px;
}
.card-info .discount h4 {
  border-radius: 4px;
  color: white;
  background-color: var(--gray);

  padding: 4px 8px;
}

.card-info .type {
  color: var(--gray);
  font-size: 14px;
  margin-top: 4px;
}
